* {
 
 box-sizing: border-box;
 margin-top: 2px;
 margin-bottom: 4px;
 
}
body {

 font-family: cursive;
 font-size: 15px;
 text-decoration: none;
 background-color: rgba(12, 69, 104, 0.795);
 
}
