* {
 
 box-sizing: border-box;
 margin-block: 3.5px;
 margin-top: 1px;
 margin-bottom: 4px;

}
body {

 font-family: cursive;
 font-size: 15px;
 background-color: rgba(12, 69, 104, 0.795);
 text-decoration: none;
 
}

