.item {
    
    background-color: #04eccace; background-position: center;  width: 1240px; height: 60px; border-radius: 20px; 
    padding-bottom: 2px;  border: solid 2px rgb(11, 11, 31);  text-align: center; justify-content: space-evenly; 
    
}
.arredondado { 
      
    border-radius: 20px;
    border: solid 1.5px #000000;
} 

.arredondado1 {

    border-radius: 100px;
    border: solid 1.5px #000000;
}
     
a:link {
    text-decoration: none;
}

@media (max-width: 767px) {

    .item {
        width: 100%;
        font-display: 50%;
        height: 60px;
        
    }
     
}

