.container {
    
     background-color: #04eccace; background-position: center;  width: 1240px; height: 55px; border-radius: 20px; 
     padding-bottom: 2px;  border: solid 2px rgb(11, 11, 32);  text-align: center; justify-content: space-evenly;
        
}     
  
.responsive {
     border-radius: 10px;
     border: solid 2px #000000;
     height: auto;
     display: grid;
     margin-top: 2px;
}
.responsive1 {

     border-radius: 10px;
     border: solid 2px #000000; 
     height: auto;
     display: grid;
     margin-top: 2px;
}
}
a:link {
     text-decoration: none;
}  
@media screen and (min-width: <= 768px) {
    #itens {
        display:inline-block;
    }
}

