.item {
    
    background-color: #04eccace; background-position: center;  width: 1238px; height: 60px; border-radius: 20px; 
    padding-bottom: 2px;  border: solid 2px rgb(11, 11, 31);  text-align: center; justify-content: space-evenly;
    margin-top: 2px
    
}
.arredondado { 
      
    border-radius: 20px;
    border: solid 1.5px #000000;
} 

.arredondado1 {

    border-radius: 100px;
    border: solid 1.5px #000000;
}
     
a:link {
    text-decoration: none;
}

@media (max-width: 767px) {

    .item {
        
        width: 100%;
        font-display: 50%;
        height: 70%;
            
    }
    
    .arredondado {
        width: 98%;
        margin-right: 2px;
        display: block;
        justify-content: space-evenly;
        column-gap: normal;
    }
     
} 

@media (max-width: 630px) {

    .item {
        width: 100%;
        font-display: 50%;
        height: 70%;
        
    }
    
    
    .arredondado {
        width: 98%;
        margin-right: 2px;
        display: block;
        justify-content: space-evenly;
        column-gap: normal;
    }
     
}

