.container {
    
     background-color: #04eccace; background-position: center;  width: 1240px; height: 55px; border-radius: 20px; 
     padding-bottom: 2px;  border: solid 2px rgb(11, 11, 32);  text-align: center; justify-content: space-evenly;
     font-size: 15px;   
}      
.responsive {
     border-radius: 10px;
     border: solid 2px #000000;
     height: auto;
     display: grid;
     margin-top: 2px;
}
.responsive1 {

     border-radius: 10px;
     border: solid 2px #000000; 
     height: auto;
     display: grid;
     margin-top: 2px;

}
a:link {
     text-decoration: none;
}  
main {
     width: 58vw;
     background-color: rgba(240, 230, 230, 0.616);
     margin: auto;
     margin-top: 0px;
     padding: 3px;
     border-radius: 30px;
     border: solid 2px rgb(11, 11, 32);
     justify-content: center;
} 

@media (max-width: 767px) {
     .responsive {
     width: 0%;
     display: none;
   } 
     .responsive1 {
     width: 100%;
     height: 50%;
     display: block;

   }
     .container {
     width: 100%;
     height: 80px;
     font-display: 50%;    
   }
     .container2 {
      display:none;
   }
main {
      display: none;
}
}

@media (max-width: 630px) {
     .responsive {
     width: 0%;
     display: none;
   } 
     .responsive1 {
     width: 100%;
     height: 50%;
     display: block;

   }
     .container {
     width: 100%;
     height: 80px;
     font-display: 50%;    
   }
     .container2 {
      display:none;
   }
main {
      display: none;
}
}
