.item {
    
    background-color: #04eccace; background-position: center;  width: 1220px; height: 65px; border-radius: 20px; 
    padding-bottom: 4px;  border: solid 2px rgb(11, 11, 31);  text-align: center; justify-content: space-evenly; 
    
}
.arredondado {
      
    border-radius: 20px;

}
.arredondado1 {

    border-radius: 100px;

}
a:link {
    text-decoration: none;
}
